
.footer-left {
  flex: 1;
  align-items: flex-start;
  max-width: 50%;
  font-size: 10pt;
  padding: 0px 25px;
  justify-content: flex-start; /* Pushes the right navbar-nav and the logo to the center and right respectively */
}
.footer-right {
  flex: 1;
  text-align: right;
  max-width: 50%;
  font-size: 10pt;
  padding: 0 25px;
}

.footer-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 15px;
}

.footer-btn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}
