.App {
  text-align: center;
}

.right-side {
  background-image: url('../images/welcome/LargerBackground.png');
  margin-left: 40vw;             /* start after the 40vw sidebar */
  width: 60vw;     /* = 60vw, fills the rest of the screen */
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  background-image: url('../images/welcome/LargerBackground.png');
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex; /* Enables flexbox */
  flex-direction: column;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  align-items: flex-start; /* Aligns items to the start of the container */
}

.welcome_logo_container {
  /* display: flex;
  justify-content: left;
  align-items: left;
  width: 217px;
  height: 100px;
  flex-direction: column; */
}

.uci_container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: clamp(1rem, 2vw, 2rem);
  padding-right: clamp(1rem, 2vw, 2rem);
}

.skill_icon_container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: clamp(1rem, 11vw, 10rem);
  height: clamp(1rem, 11vw, 10rem);
  padding-top: clamp(.5rem, 1vw, 1rem);
  padding-bottom: clamp(.5rem, 1vw, 1rem);
  padding-left: clamp(.5rem, 1vw, 3rem);
  padding-right: clamp(.5rem, 1vw, 1rem);
  margin: clamp(0rem, 1vw, 1rem);
  background-color: #edd3d0;
  border-radius: clamp(.5rem, 1vw, 1rem);
}

.skill_icon_container img {
  height: clamp(.5rem, 6vw, 8rem);
  width: auto;
  margin-bottom: 15px;
}

.skill_card {
  width: clamp(2rem, 11vw, 10rem);
  height: clamp(2rem, 11vw, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  margin: clamp(.2rem, 1.5vw, 2rem);
}

.skill_card img{
  max-height: 70%;
  max-width: 70%;
  object-fit: contain;
}

.skill_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.skill_card:hover .skill_inner {
  transform: rotateY(180deg);
}

.skill_front,
.skill_back {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: clamp(.5rem, 1vw, 1rem);
}

.skill_front {
  background-color: #edd3d0;
}

.skill_back {
  background-color: #edd3d0;
  transform: rotateY(180deg);
  color: #491a37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_back_text {
  display: flex;
  width: 80%; 
  font-weight: 1000;
  font-size: clamp(.5rem, 2vw, 4rem);
  white-space: normal; 
  word-break: break-word; 
  color: #491a37;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.row_container_left_aligned {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  gap: clamp(.5rem, 2vw, 1rem);
}

.row_container_left_aligned2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end; 
  flex-wrap: wrap;
}

.row_container_left_aligned3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end; 
  flex-wrap: wrap;
  padding-left: 1rem;
}

.row_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* flex: 1; */
}

.curved-outline-box {
  border: 2px solid #eb5fb5;  /* outline color */
  border-radius: 15px;        /* curves */
  background-color: transparent;
  padding: 7px;              /* space inside */
  width: fit-content; 
  margin: 5px;
}

.fixed-page-height-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  /* min-width: 370px; */
  align-items: center;
  /* min-height: 200px; */
  height: calc(100vh - 50px - 73px);
}

.third-block {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically within the container */
  align-items: center; /* Center children horizontally within the container */
  padding: 1rem; /* Adjust the padding as necessary */
  flex: 1; /* Children will grow to fill the space */
  /* max-width: 400px; Max width of the container */
  /* min-height: 575px; Min height of the container */
}

.container_for_welcome_logo_container {
  /* display: flex;
  justify-content: left;
  align-items: left;
  width: 454px;
  height: 120px;
  flex-direction: row; */
}

.container {

}

@media (max-width: 720px) {
  .single_container_45 {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 0 0 45%; 
    /* min-width: 350px; */
    /* padding-right: 0px; */
  }
}