html {
  font-size: 100%;
  /* background: red; debug */
}

main {
  height: 95vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  /* background: blue; debug */
  height: 100%;
  margin: 0;
  background-color: rgb(252, 252, 252);
  font-size: clamp(.5rem, 3vw, 1rem);
  font-weight: 300;
  justify-content: center; 
  align-items: center;
}

p {
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

b {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 800;
}

em {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 800;
}

h1 {
  color: #491a37;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
  text-align: left;
}

footer {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0;
  height: 50px;
  justify-content: space-around;
  width: 100%;
}

* {
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  /* outline: 1px solid rgba(255,0,0,0.2); */
}

img {
  width: 100%;
}