.image_caption {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  padding-top: 2px;
  padding-left: 2px;
  text-align: left;
  align-self: flex-start;
  text-align: left;
  width: 100%;
}

.pbold {
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 400;
}

.pink_title {
  padding-bottom: clamp(1.5rem, 1vw, 4rem);
  color: #ff66c4;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
}

.dark_title {
  padding-bottom: clamp(.5rem, 1vw, 4rem);
  color: #491a37;
  font-size: clamp(1rem, 2vw, 2.7rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
}

.pink_subtitle {
  padding-top: clamp(.5rem, 1vw, 4rem);
  padding-bottom: clamp(.5rem, 1vw, 4rem);
  color: #ff66c4;
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
}

.dark_line {
  background-color: #491a37;
  width: 100%;
  height: 3px;
  margin-bottom: clamp(.5rem, 1vw, 4rem);
}
.pink_line {
  background-color: #a83f80;
  width: 100%;
  height: 3px;
}

.dark_header {
  padding-top: clamp(.5rem, 1vw, 4rem);
  padding-bottom: clamp(.5rem, 1vw, 4rem);
  color: #491a37;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
  text-align: left;
}

.dark_large_text {
  color: #491a37;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
  text-align: left;
}

.dark_pink_text {
  color: #a83f80;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
  text-align: left;
}

.large_pink_text {
  color: #a83f80;
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 800;
  text-align: left;
}

.dark_medium_text {
  color: #491a37;
  font-size: clamp(.8rem, 2vw, 1rem);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 600;
  text-align: left;
}

.company_text {
  color: #491a37;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace, sans-serif, sans-serif;
  font-weight: 600;
  text-align: left;
}

.curved-outline-box p,
.curved-outline-box span,
.curved-outline-box div {
  color: #eb5fb5;
  padding: 0;
  margin: 0;
  margin-left: 8px;
  margin-right: 8px;
  font-size: clamp(.5rem, 3vw, 1rem);
}

.montserrat display-regular {
  font-family: 'CourierPS', sans-serif;
  src: url('../fonts/Courier-PS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPS', sans-serif;
  src: url('../fonts/Courier-PS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.courier {
  font-family: 'CourierPS', monospace, sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPSBold', sans-serif;
  src: url('../fonts/Courier-PS-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.courier_bold {
  font-family: 'CourierPSBold', monospace, sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'Amsterdam', sans-serif;
  src: url('../fonts/Amsterdam-Handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.amsterdam-text {
  font-family: 'Amsterdam', sans-serif;
}

.email-link {
  color: #427c46; /* Replace with any color you want */
  /* You can also add :hover, :active, :visited, and :focus pseudo-classes to style different link states */
}

.email-link:hover {
  color: #63be69; /* Color when the mouse hovers over the link */
}


